<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.maccellular.phone.cloudflared</string>
  <key>ProgramArguments</key>
  <array>
    <string>__CLOUDFLARED_BINARY__</string>
    <string>tunnel</string>
    <string>--no-autoupdate</string>
    <string>--loglevel</string>
    <string>info</string>
    <string>run</string>
    <string>--token-file</string>
    <string>__CLOUDFLARED_TOKEN_FILE__</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>5</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>Umask</key>
  <integer>63</integer>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/cloudflared.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/cloudflared.log</string>
</dict>
</plist>
